/* Styling for collapsible callouts ("Try it!", "Under the hood", "Note")
   
	 Similar to normal just-the-docs callouts (https://github.com/just-the-docs/just-the-docs/blob/main/_includes/css/callouts.scss.liquid), just adapted to details-summary node structure
 */

.try-it, .try-it-title, .under-the-hood, .note {
	summary {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .75em;
		padding-bottom: .125rem;
		
		&::marker {
			color: $body-text-color;
		}
	}
  
  &.no-collapse > p:first-child {
    font-weight: bold;
		text-transform: uppercase;
		font-size: .75em;
		padding-bottom: .125rem;
  }
}
.try-it, .try-it-title {
	summary {
		color: $green-300;
	}
  &.no-collapse > p:first-child {
		color: $green-300;
  }
  
  //https://www.siegemedia.com/contrast-ratio#%23bbbebd-on-rgba%2865%2C214%2C147%29
  hr {
    background-color: #bbbebd;
  }
}
.under-the-hood {
	summary {
		color: $blue-300;
	}
  
  &.no-collapse > p:first-child {
		color: $blue-300;
  }
}
.note {
	summary {
		color: $yellow-300;
	}
  
  &.no-collapse > p:first-child {
		color: $yellow-300;
  }
}
