/* Styling for collapsible callouts ("Try it!", "Under the hood", "Note")
   
	 Similar to normal just-the-docs callouts (https://github.com/just-the-docs/just-the-docs/blob/main/_includes/css/callouts.scss.liquid), just adapted to details-summary node structure
 */

.try-it, .try-it-title, .under-the-hood, .note {
	summary {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .75em;
		padding-bottom: .125rem;
		
		&::marker {
			color: $body-text-color;
		}
	}
  
  &.no-collapse > p:first-child {
    font-weight: bold;
		text-transform: uppercase;
		font-size: .75em;
		padding-bottom: .125rem;
  }
}
p, blockquote {
&.try-it, &.try-it-title {
  background: rgba($try-it-bg-color, 0.2);
  border-left-color: $try-it-title-color;
	summary {
		color: $try-it-title-color;
	}
  &.no-collapse > p:first-child {
		color: $try-it-title-color;
  }
  
  //https://www.siegemedia.com/contrast-ratio#%23bbbebd-on-rgba%2865%2C214%2C147%29
  hr {
    background-color: #bbbebd;
  }
}
}
p, blockquote {
&.under-the-hood {
  background: rgba($under-the-hood-bg-color, 0.2);
  border-left-color: $under-the-hood-title-color;
	summary {
		color: $under-the-hood-title-color;
	}
  
  &.no-collapse > p:first-child {
		color: $under-the-hood-title-color;
  }
}
}
p, blockquote {
&.note {
  background: rgba($note-bg-color, 0.2);
  border-left-color: $note-title-color;
	summary {
		color: $note-title-color;
	}
  
  &.no-collapse > p:first-child {
		color: $note-title-color;
  }
}
}