/* Styling for collapsible callouts ("Try it!" and "Under the hood")
   
	 Similar to normal just-the-docs callouts (https://github.com/just-the-docs/just-the-docs/blob/main/_includes/css/callouts.scss.liquid), just adapted to details-summary node structure
 */

.try-it, .try-it-title, .under-the-hood {
	summary {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .75em;
		padding-bottom: .125rem;
		
		&::marker {
			color: $body-text-color;
		}
	}
}
.try-it, .try-it-title {
	summary {
		color: $green-300;
	}
}
.under-the-hood {
	summary {
		color: $blue-300;
	}
}

