/* 
 * Dashboard links à la LaBB-CAT homepage 
 */

.dashboard {
  text-align: center;
	display: flex;
	justify-content: center;
	
	ul {
		padding-left: 0px;
	}
	
	.links .item {
		display: inline-block;
		padding: 20px;
		
		&::before {
		  content: "";
		}
		
		a, a .dash-label {
			height: 100%;
			vertical-align: middle;
			display: block;
		}
	}
	
	.queries, .commands .item {
		display: inline-block;
		padding: 20px;
		
		.dash-statistic, .dash-label {
			display: block;
		}
	}
	
	img {
		height: 40px;
	}
}
