/* Good examples vs. bad examples */
.goodex {
	// color: green;
  color: $green-contrast;
	
	&:before {
	  color: $green-contrast;
	  content: '✓ '; /* &check; + &#202f; */
		font-weight: bold;
	}
}

.badex {
  color: red;
	
	&:before {
	  color: red;
	  content: '✗ '; /* &#2717; + &#202f; */
		font-weight: bold;
	}
}

/* LaBB-CAT error codes */
.lc-error {
	color: red;
	font-weight: bold;
}

.goodex, .badex, .lc-error {
	background: $example-bg-color;
	padding: 1px;
	border-radius: 4px;
}
