/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

h1, h2, h3, h4, h5, .site-title {
	font-family: 'Rubik',sans-serif;
	letter-spacing: 0.015em;
}

h1 {
	font-weight: 700;
}

h2, h3, .site-title {
	font-weight: 600;
}

h4 {
	font-size: 14px !important;
	//Keep default font-weight: 400;
}


/* Add (sub)section numbering to headings
 * Credit: https://stackoverflow.com/a/535390
 */
body {
	counter-reset: section;
}

h2:not(.no_toc) {
	counter-reset: sub-section;
	
	&::before {
		counter-increment: section;
		content: counter(section) " ";
	}
}

h3:not(.no_toc) {
  counter-reset: composite;
	
	&::before {
		counter-increment: sub-section;
		content: counter(section) "." counter(sub-section) " ";
	}
}

h4:not(.no_toc) {
	counter-reset: detail;
	
	&::before {
		counter-increment: composite;
		content: counter(section) "." counter(sub-section) "." counter(composite) " ";
	}
}

h5:not(.no_toc)::before {
	counter-increment: detail;
	content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}

/* Override letters to numbers in TOC, with inherited super-step numbers */
ol#markdown-toc>li ol {
	padding-left: 1.8em;
	
	>li {
		&::before {
			content: counter(step-counter) "." counter(sub-counter, numeric);
			left: -2.1em;
		}
		
		ol {
			counter-reset: sub-sub-counter;
			padding-left: 2.4em;
			
			> li::before {
				content: counter(step-counter) "." counter(sub-counter) "." counter(sub-sub-counter, numeric);
				counter-increment: sub-sub-counter;
				left: -2.7em
			}
		}
	}
}


