/* aux-nav font size */
.aux-nav {
	font-size: 0.875rem !important;
}

/* Dark mode toggle button */
#dark-mode-toggle {
	background: $toggle-background;
	border-radius: 50%;
	margin: auto;
	margin-right: 10px;
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
	
	&:hover {
		background: $toggle-background-hover;
	}
	
	img {
		height: inherit;
		padding: $toggle-padding;
	}
}
