/* Embedded images */

img.screengrab {
  //Ensure screengrabs are always on their own line
  display: block;
  margin: 0.5em 0;
  //Put border around screengrabs (in light mode only)...
  border: $screengrab-border;
}
//...but never in callouts
.try-it img.screengrab, .under-the-hood img.screengrab {
  border: none;
}
