/* Set default indent */
//Usually set by user agent, this variable is defined so it can be used in other contexts
ol, ul {
  padding-inline-start: $list-indent;
}

/* Use darker numbers for numbered lists */
ol > li::before {
	color: $list-marker-color !important;
	font-weight: bold;
}

/* Wrap-style unordered lists */	
ul.wrap {
	display: flex;
	flex-wrap: wrap;
	
	&.fb-15 li {
		flex-basis: 15rem;
	}
	
	&.fb-10 li {
		flex-basis: 10rem;
	}
	
	li {
		padding: 0px 1px;
		
		&::before {
			content: "";
		}
	}
}

/* Suppress margins list-internally, after paragraph */
.main-content li {
  > ul, > ol {
    margin-top: 0;
  }
}
p:has(+ ul, + ol) {
  margin-bottom: 0.5em;
}
