/* Pitt colors
 * https://www.brand.pitt.edu/visual-identity/color-palettes/primary-palette
 * https://www.brand.pitt.edu/visual-identity/color-palettes/secondary-palette
 */
$pitt-blue: #003594;
$pitt-gold: #FFB81C;

$pitt-charcoal: #75787B;
$pitt-gray: #97999B;
$pitt-light-gray: #C8C9C7;
