{%- assign check = include.check -%}
{%- assign description = check.check -%}
{%- for layer in site.layers -%}
  {%- assign layer_id = layer.path | remove: "_layers/" | remove: ".md" -%}
  {%- assign spanned = layer_id | prepend: '<span class="layer">' | append: '</span>' -%}
  {%- assign description = description | replace: layer_id, spanned -%}
{%- endfor -%}
{%- assign description = description | replace: 'transcript', '<span class="transcript-attr">transcript</span>' -%}
{%- assign description = description | replace: 'participant', '<span class="participant-attr">participant</span>' -%}
{%- assign attribs = site.attributes | where_exp: "item", "item.synced.attribute != 'transcript' and item.synced.attribute != 'participant'" -%}
{%- for attribute in attribs %}
  {%- assign attribute_id = attribute.synced.attribute -%}
  {%- assign spanned = attribute_id | prepend: '-attr">' | prepend: attribute.synced.attrib_type | prepend: '<span class="' | append: '</span>' -%}
  {%- assign description = description | replace: attribute_id, spanned -%}
{%- endfor -%}
{%- assign pass = check.total | minus: check.failing -%}
{%- assign pct_coverage = check.pct_coverage | times: 1 -%}
{%- assign pct_rounded = pct_coverage | times: 100 | round: 1 -%}
**{{ description }}**: True for {% include commatize.html number=pass %} out of {% include commatize.html number=check.total %} {{ check.scope }} (
{%- if pct_coverage < 1 and pct_rounded == 100 -%}>99.9{%- else -%}{{ pct_rounded }}{%- endif -%}%)
