[bird and liberman 1999]: https://arxiv.org/abs/cs/9903003
[celex]: https://catalog.ldc.upenn.edu/LDC96L14
[elan]: https://archive.mpi.nl/tla/elan
[file-checker]: https://djvill.shinyapps.io/apls_elan_file_checker/
[fill-batchalign-words]: https://djvill.shinyapps.io/fill-batchalign-words/
[fromont 2017]: http://doi.org/10.1016/j.csl.2017.01.004
["how did you use apls?"]: https://docs.google.com/forms/d/e/1FAIpQLSf1SOepgJgxICXVu6HAUQqwbuTocJRFRHe1oSPe6S9zrymXhw/viewform?usp=header
[htk]: https://htk.eng.cam.ac.uk/
[ipa]: https://en.wikipedia.org/wiki/International_Phonetic_Alphabet
[jen hay]: https://profiles.canterbury.ac.nz/Jennifer-Hay
[labb-cat]: https://nzilbb.github.io/labbcat-doc/
[labbcat-R]: https://nzilbb.github.io/labbcat-R/
[labbcat-py]: https://nzilbb.github.io/labbcat-py/
[nzilbb]: https://www.canterbury.ac.nz/research/about-uc-research/research-groups-and-centres/new-zealand-institute-of-language-brain-and-behaviour
[password reset]: https://docs.google.com/forms/d/e/1FAIpQLSdW9U912VhiZN2sjFk6jQFulhY82YNdqkQQRKVJT2LvAFvqnw/viewform?usp=sf_link
[praat]: https://www.fon.hum.uva.nl/praat/
[robert fromont]: http://robert.fromont.net.nz/
[sign up]: https://docs.google.com/forms/d/e/1FAIpQLSdFclWfbWZ-aM-h3Givrr4mH9T4MjyWaeQ-TpTMriC5mOcoqw/viewform
[unisyn]: https://www.cstr.ed.ac.uk/projects/unisyn/
[unisyn lexicon]: https://www.cstr.ed.ac.uk/projects/unisyn/