[celex]: https://catalog.ldc.upenn.edu/LDC96L14
[elan]: https://archive.mpi.nl/tla/elan
[fromont 2017]: http://doi.org/10.1016/j.csl.2017.01.004
[htk]: https://htk.eng.cam.ac.uk/
[labb-cat]: https://nzilbb.github.io/labbcat-doc/
[labbcat-R]: https://nzilbb.github.io/labbcat-R/
[labbcat-py]: https://nzilbb.github.io/labbcat-py/
[sign up]: https://docs.google.com/forms/d/e/1FAIpQLSdFclWfbWZ-aM-h3Givrr4mH9T4MjyWaeQ-TpTMriC5mOcoqw/viewform
[password reset]: https://docs.google.com/forms/d/e/1FAIpQLSdW9U912VhiZN2sjFk6jQFulhY82YNdqkQQRKVJT2LvAFvqnw/viewform?usp=sf_link
[unisyn]: https://www.cstr.ed.ac.uk/projects/unisyn/
[unisyn lexicon]: https://www.cstr.ed.ac.uk/projects/unisyn/
[praat]: https://www.fon.hum.uva.nl/praat/