{%- comment -%}
  Include as: {%- include page_toc.html title = title collapsible = collapsible open = open -%}
  Results in: HTML for the page table of contents
	Reference: https://just-the-docs.github.io/just-the-docs/docs/navigation-structure/#in-page-navigation-with-table-of-contents
{%- endcomment -%}

{% assign title = include.title | default: "On this page" %}
{% assign collapsible = include.collapsible | default: false %}
{% capture open %}
	{% if include.open | default: true %}
		open
	{% endif %}
{% endcapture %}

{% if collapsible %}
<details {{ open }} markdown="block">
  <summary>{{ title }}</summary>
  {: .text-delta }
  
  1. TOC
  {:toc}
</details>
{% else %}
  {{ title }}
  {: .text-delta }
  
  1. TOC
  {:toc}
{% endif %}
